<h1>Pirates</h1>
<div class="pirate">

  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
</div>

<h1>Ship One</h1>
  <div class="ship_1">
    <p>Ship Name: <%= @ships.name %></p>
    <p>Ship Type: <%= @ships.type %></p>
    <p>Ship Booty: <%= @ships.booty %></p>
  </div>


<h1>Ship Two</h1>
  <div class="ship_2">
    <p>Ship Name: <%= @ships.name %> </p>
    <p>Ship Type: <%= @ships.type %></p>
    <p>Ship Booty: <%= @ships.booty %></p>
  </div>
